apiclient
asgiref
async-generator
authentication
certifi
cffi
charset-normalizer
click
colorama
coreapi
coreschema
cryptography
defusedxml
Deprecated
dj-database-url
Django
django-allauth
django-auth
django-cors-headers
django-filter
django-heroku
django-rest-framework
django-templated-mail
django-utils-six
django-widget-tweaks
djangorestframework
djangorestframework-jsonapi
djangorestframework-jwt
djangorestframework-simplejwt
djoser
Flask
gunicorn
heroku
httplib2
idna
importlib-metadata
inflection
itsdangerous
itypes
Jinja2
MarkupSafe
oauthlib
packaging
passlib
psycopg2
pycparser
pycryptodome
PyJWT
pyparsing
python-dateutil
python3-openid
pytz
redis
requests
requests-oauthlib
six
social-auth-app-django
social-auth-core
sqlparse
tzdata
uritemplate
urllib3
Werkzeug
whitenoise
wrapt
WTForms
zipp